{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid tm-mt-60">
        <div class="row tm-mb-50 log-body">
            <div class="col-12 mb-5">
                <h2 class="tm-text-primary text-center mb-5">Réinitialisation du mot de passe</h2>
                <form class="tm-contact-form mx-auto" id="login-form" action="{{ path('forgetPassword') }}" method="post">
                    <div class="form-group mt-2 mb-2">
                        <label for="email"></label>
                        <input type="email" class="form-control rounded-0" id="email" name="mail" placeholder="Adresse e-mail"/>
                    </div>
                    <hr>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-group tm-text-right text-center">
                        <button class="btn btn-primary mt-5" type="submit">Envoyer</button>
                    </div>
                    <div class="form-group mt-2 mb-2 text-center">
                        {% for message in app.flashes('success') %}
                            {{ message }}
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            {{ message }}
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
