<h1>Bienvenue sur Snowtricks !</h1><br/><br/>

<p>
    Vous vous êtes inscrit avec l'email suivant : {{ mailAdress }}
</p><br/><br/>
<p>
    Pour rappel, votre login est : {{ login }}
</p><br/><br/>

<p>
    <a href="https://127.0.0.1:8000/verify/{{ login }}/{{ token }}" target="_blank">Veuillez cliquez ici pour activer votre compte</a>
</p>