<h1>Snowtricks !</h1><br/><br/>

<p>
    Vous avez fais une requête pour réinitialiser votre mot de passe.
</p><br/><br/>
<p>
    Pour rappel, votre login est : {{ login }}
</p><br/><br/>

<p>
    <a href="https://127.0.0.1:8000/verify/{{ login }}/{{ token }}" target="_blank">Veuillez cliquez ici pour changer votre mot de passe</a>
</p><br/><br/>

<p>
    Si vous n'êtes pas à l'origine de cette démarche, veuillez ignorer ce mail.
</p>