{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid tm-mt-60">
        <div class="row tm-mb-50 log-body">
            <div class="col-lg-4 offset-lg-4 col-12 mb-5">
                <h2 class="tm-text-primary account-activation text-center">
                    Votre compte a bien été activé !
                </h2>
            </div>
        </div>
    </div>

{% endblock %}