<form method="post" action="{{ path('app_trick_delete', {'slug': trick.slug}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cette figure ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
    <div class="d-flex justify-content-center mt-1 mb-2">
        <button class="btn btn-danger btn-remove">Supprimer cette figure</button>
    </div>
</form>
