<div class="input-img mt-1 mb-1 d-flex justify-content-center">
    {{ form_row(form.file) }}
    <button type="button" class="btn btn-danger btn-remove"><i class="fa-solid fa-trash-can"></i></button>
</div>