<div class="mt-1">
    {{ form_row(form.videoname) }}
    <div class="form-group d-flex justify-content-center mt-1">
        <button type="button" class="btn btn-danger btn-remove"><i class="fa-solid fa-trash-can"></i></button>
    </div>
</div>