{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid tm-mt-60">
        <div class="row tm-mb-50 log-body">
            <div class="col-lg-4 offset-4 col-12 mb-5 text-center">
                <h2 class="tm-text-primary mt-5 mb-5">Création de votre figure</h2>
                {% include "trick/_form.html.twig" %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ asset('js/media.js') }}"></script>
{% endblock %}
